<template>
  <div id="app">
    <div class="indexMenu">
      <Menu />
    </div>
    <Main />
    <div class="indexfooter">
      <Footer />
    </div>
  </div>
</template>

<script>
import Menu from "@/components/Menu.vue";
import Main from "@/components/Main.vue";
import Footer from "@/components/footer/Footer.vue";

export default {
  name: "app",
  components: {
    Menu,
    Main,
    Footer
  }
};
</script>

<style>
html,
body,
#app {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: #3c3c3b;
}

a:hover {
  text-decoration: underline;
}
body {
  margin: 0;
}

#app {
  font-family: verdana, arial, "Avenir", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
