<template>
  <div class="contentAuthor">
    <div class="authorBox">
      <p class="authorText">{{ auteur }} , {{ date }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "ContentAuthor",
  components: {},
  props: {
    date: String,
    auteur: String
  }
};
</script>

<style scoped>
.contentAuthor {
  display: flex;
  flex-direction: row-reverse;
  background-color: #3c3c3b;
}
.authorBox {
  height: 50px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0 20px;
  background-color: #555554;
}
.authorText {
  color: white;
}
</style>
