<template>
  <div class="contentTitle">
    <h1>{{ titre }}</h1>
  </div>
</template>

<script>
export default {
  name: "ContentTitle",
  props: {
    titre: String
  }
};
</script>

<style scoped>
.contentTitle {
  display: flex;
  justify-content: center;
}
</style>
