<template>
  <div class="content">
    <ContentTitle :titre="objArticle.titre" />
    <ContentBanner :backgroundPath="objArticle.imgName" />
    <ContentAuthor :auteur="objArticle.auteur" :date="objArticle.date" />
    <ContentArticle :text="objArticle.text" />
    <ContentComment />
  </div>
</template>

<script>
import ContentTitle from "@/components/commons/content/ContentTitle.vue";
import ContentArticle from "@/components/commons/content/ContentArticle.vue";
import ContentAuthor from "@/components/commons/content/ContentAuthor.vue";
import ContentBanner from "@/components/commons/content/ContentBanner.vue";
import ContentComment from "@/components/commons/content/ContentComment.vue";

export default {
  name: "Content",
  components: {
    ContentAuthor,
    ContentArticle,
    ContentBanner,
    ContentTitle,
    ContentComment
  },
  props: {
    objArticle: Object
  }
};
</script>

<style scoped>
</style>
