<template>
  <div class="content-comment">
    <div class="content-comment-header">{{ count() }} Commentaires</div>
    <div class="content-comment-container">
      <div class="content-comment-item" v-for="(item, index) in comments" v-bind:key="index">
        <Comment
          :index="item.index"
          :username="item.username"
          :text="item.text"
          :email="item.email"
        />
      </div>
      <div class="comment-content-form-add">
        <div class="errorBox" v-if="errors.length">
          <p>S.V.P corrigez les erreurs suivantes:</p>
          <ul>
            <li v-for="(error,index) in errors" :key="index">{{ error.text }}</li>
          </ul>
        </div>

        <input type="text" placeholder="Username" v-model="formCommentUsername" />
        <input type="email" placeholder="Email" v-model="formCommentEmail" />
        <textarea
          name="comment"
          id="add-comment-text"
          cols="30"
          rows="3"
          placeholder="Commentaire..."
          v-model="formCommentText"
        ></textarea>
        <a href="#" @click="send">Envoyer</a>
      </div>
    </div>
  </div>
</template>

<script>
import Comment from "@/components/commons/comment/Comment.vue";

export default {
  name: "ContentComment",
  components: {
    Comment
  },
  data() {
    return {
      comments: [],
      formCommentUsername: "",
      formCommentText: "",
      formCommentEmail: "",
      errors: []
    };
  },
  methods: {
    count() {
      return this.comments.length;
    },
    checkEmail() {
      //Fait la regex moi-même, probablement pas la meilleure, ça fait pour le contexte
      const regex = RegExp("^[a-zA-Z0-9éèêÉÈÊ._%+-]+@[a-zéêè_.]+.[a-z]{2,}$");
      return regex.test(this.formCommentEmail);
    },
    checkForm(e) {
      let valideEmail = this.checkEmail();

      if (
        this.formCommentUsername &&
        this.formCommentEmail &&
        this.formCommentText &&
        valideEmail
      ) {
        return true;
      }

      this.errors = [];

      if (!this.formCommentUsername) {
        this.errors.push({ id: 1, text: "Le champ username est requis." });
      }

      if (!this.formCommentEmail) {
        this.errors.push({ id: 2, text: "Le champ email est requis." });
      }

      if (this.formCommentEmail && !valideEmail) {
        this.errors.push({ id: 3, text: "Le champ email doit être valide." });
      }

      if (!this.formCommentText) {
        this.errors.push({ id: 4, text: "Le champ texte est requis." });
      }

      e.preventDefault();
    },
    send(e) {
      if (!this.checkForm(e)) {
        return;
      }
      let comment = {
        index: this.count() + 1,
        username: this.formCommentUsername,
        text: this.formCommentText,
        email: this.formCommentEmail
      };
      this.comments.push(comment);
      this.resetField();
      e.preventDefault();
    },
    resetField() {
      this.formCommentUsername = "";
      this.formCommentText = "";
      this.formCommentEmail = "";
      this.errors = [];
    }
  }
};
</script>

<style scoped>
.content-comment .content-comment-header {
  background-color: #3c3c3b;
  color: #ddd;

  padding-left: 20px;
  height: 50px;
  display: flex;
  align-items: center;
}

.content-comment .content-comment-container {
  padding: 10px 40px;
}

.content-comment .content-comment-item {
  margin-top: 10px;
}

.content-comment .comment-content-form-add {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #3c3c3b;
}

.content-comment .comment-content-form-add .errorBox {
  color: red;
}

@media (min-width: 1280px) {
  .content-comment .comment-content-form-add input {
    width: 20%;
  }
}
.content-comment .comment-content-form-add input {
  max-width: 100%;
  padding: 10px;
  margin-top: 10px;
  padding-left: 20px;
  background-color: #ddd;
  border-style: none;
  border-radius: 8px;
}

.content-comment .comment-content-form-add textarea {
  resize: none;
  width: 100%;

  margin-top: 10px;
  padding: 20px;

  box-sizing: border-box;

  background-color: #ddd;
  border-style: none;
  border-radius: 8px;
}

.content-comment .comment-content-form-add a {
  background-color: #555554;
  padding: 8px;
  margin-top: 10px;
  color: #ddd;
  text-align: center;
}
</style>