<template>
  <div class="contentBanner">
    <div class="contentImg" :style="{ backgroundImage: `url(` + backgroundPath + `)` }"></div>
  </div>
</template>

<script>
export default {
  name: "ContentBanner",
  props: {
    backgroundPath: String
  }
};
</script>

<style scoped>
.contentImg {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}
</style>
