<template>
  <article class="contentArticle">
    <div v-html="text"></div>
  </article>
</template>

<script>
export default {
  name: "ContentArticle",
  props: {
    text: String
  }
};
</script>

<style scoped>
.contentArticle {
  padding: 10px 20px;
}

.contentArticle div p {
  padding: 500px 10px !important  ;
}

@media (min-width: 1280px) {
  .contentArticle {
    padding: 10px 40px;
  }
}
</style>
