<template>
  <div class="articleIndex">
    <Content :objArticle="articles.find(a => a.id == $route.params.id)" />
  </div>
</template>

<script>
import Content from "@/components/commons/content/Content.vue";

export default {
  name: "Article",
  components: {
    Content
  },
  data() {
    return {
      articles: [
        {
          titre: `Lorem ipsum dolor sit amet, elit.`,
          id: 1,
          imgName: `/img/baie.jpg`,
          date: '2019-02-20',
          auteur: "Bob Smith",
          text:
            "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur justo est, accumsan ac mi scelerisque, finibus dapibus diam. Nulla facilisi. Suspendisse suscipit mi nec mi maximus vehicula a vel neque. Vivamus quis augue sollicitudin, ornare neque non, tristique libero. Maecenas sollicitudin malesuada lectus eu euismod. Pellentesque et neque sed est venenatis mattis eleifend eu nibh. Quisque ac sapien at ligula vestibulum porttitor. Nullam sed fringilla turpis. Proin vitae justo venenatis, gravida justo quis, vulputate justo.</p>" +
            "<p>Integer sed ex gravida, egestas risus in, accumsan ante. Nunc rhoncus purus at libero fermentum interdum. Vestibulum pharetra, diam sed fermentum accumsan, nisl velit interdum dui, a tempor lorem justo id est. Maecenas molestie eros nisi, eu bibendum nulla varius eu. Pellentesque eu est pulvinar, placerat felis non, feugiat magna. Mauris at convallis neque. Sed ac fringilla lacus. Vivamus eget malesuada ante, et iaculis enim. Donec vel sem nisi. Morbi sed luctus massa, quis facilisis dui. Nunc ante arcu, eleifend tempor tortor nec, egestas mattis orci.</p>" +
            "<p>Suspendisse sit amet turpis facilisis, placerat ipsum sed, posuere dui. Etiam porta blandit eros, et iaculis diam. Ut mattis felis at risus convallis, non imperdiet massa tempus. Etiam pulvinar sapien eu turpis sollicitudin, quis mattis massa varius. Donec luctus urna ac lorem bibendum, convallis interdum ante imperdiet. Donec vitae iaculis ligula. Duis lacinia purus quis justo malesuada rhoncus. Nullam congue nunc sed accumsan rutrum. Fusce dictum ex at magna fringilla, quis condimentum nibh hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>" +
            "<p>Etiam vulputate est a est facilisis, nec interdum mi tincidunt. In dignissim lectus eu nisi placerat porttitor. In viverra ac urna quis rutrum. Sed id vehicula lorem. Aenean sed lacus efficitur, tempor velit eu, sodales arcu. Integer sagittis nisl non vulputate lobortis. Maecenas at dui ac velit facilisis pharetra. Vestibulum pharetra vulputate quam, nec facilisis nulla venenatis in. Sed sit amet nibh faucibus, tempor erat in, suscipit lectus. Donec nec aliquam lacus, ut egestas dolor. Integer dui sapien, pellentesque vitae nibh ut, sollicitudin pellentesque ex.</p>" +
            "<p>Nam consectetur, diam ut gravida rutrum, turpis metus pellentesque dui, eu fringilla urna nisi nec ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus at purus lobortis, sollicitudin arcu eu, rutrum tellus. Nulla pharetra varius sem nec varius. Sed et eros id mi aliquet interdum. Nulla fringilla ligula quis magna pharetra vehicula. Morbi purus ante, hendrerit ut volutpat vel, vehicula at diam. Pellentesque ultrices sem at aliquam sollicitudin. Praesent finibus lorem quis porttitor vulputate. Suspendisse vitae nulla cursus, ultricies elit quis, gravida arcu. Proin sed purus mauris. Morbi fermentum turpis ac dolor dignissim, quis dignissim nisl dapibus. Aliquam erat volutpat. Morbi vitae est vitae justo venenatis varius et vitae purus. Nullam ultricies ultricies odio, in posuere enim condimentum sit amet. Sed fermentum a ante vel fermentum.</p>"
        },
        {
          titre: `Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...`,
          id: 2,
          imgName: `/img/bread_brunch.jpg`,
          date: '2019-01-18',
          auteur: "Alexander Smither",
          text:
            "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur justo est, accumsan ac mi scelerisque, finibus dapibus diam. Nulla facilisi. Suspendisse suscipit mi nec mi maximus vehicula a vel neque. Vivamus quis augue sollicitudin, ornare neque non, tristique libero. Maecenas sollicitudin malesuada lectus eu euismod. Pellentesque et neque sed est venenatis mattis eleifend eu nibh. Quisque ac sapien at ligula vestibulum porttitor. Nullam sed fringilla turpis. Proin vitae justo venenatis, gravida justo quis, vulputate justo.</p>" +
            "<p>Integer sed ex gravida, egestas risus in, accumsan ante. Nunc rhoncus purus at libero fermentum interdum. Vestibulum pharetra, diam sed fermentum accumsan, nisl velit interdum dui, a tempor lorem justo id est. Maecenas molestie eros nisi, eu bibendum nulla varius eu. Pellentesque eu est pulvinar, placerat felis non, feugiat magna. Mauris at convallis neque. Sed ac fringilla lacus. Vivamus eget malesuada ante, et iaculis enim. Donec vel sem nisi. Morbi sed luctus massa, quis facilisis dui. Nunc ante arcu, eleifend tempor tortor nec, egestas mattis orci.</p>" +
            "<p>Suspendisse sit amet turpis facilisis, placerat ipsum sed, posuere dui. Etiam porta blandit eros, et iaculis diam. Ut mattis felis at risus convallis, non imperdiet massa tempus. Etiam pulvinar sapien eu turpis sollicitudin, quis mattis massa varius. Donec luctus urna ac lorem bibendum, convallis interdum ante imperdiet. Donec vitae iaculis ligula. Duis lacinia purus quis justo malesuada rhoncus. Nullam congue nunc sed accumsan rutrum. Fusce dictum ex at magna fringilla, quis condimentum nibh hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>" +
            "<p>Etiam vulputate est a est facilisis, nec interdum mi tincidunt. In dignissim lectus eu nisi placerat porttitor. In viverra ac urna quis rutrum. Sed id vehicula lorem. Aenean sed lacus efficitur, tempor velit eu, sodales arcu. Integer sagittis nisl non vulputate lobortis. Maecenas at dui ac velit facilisis pharetra. Vestibulum pharetra vulputate quam, nec facilisis nulla venenatis in. Sed sit amet nibh faucibus, tempor erat in, suscipit lectus. Donec nec aliquam lacus, ut egestas dolor. Integer dui sapien, pellentesque vitae nibh ut, sollicitudin pellentesque ex.</p>" +
            "<p>Nam consectetur, diam ut gravida rutrum, turpis metus pellentesque dui, eu fringilla urna nisi nec ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus at purus lobortis, sollicitudin arcu eu, rutrum tellus. Nulla pharetra varius sem nec varius. Sed et eros id mi aliquet interdum. Nulla fringilla ligula quis magna pharetra vehicula. Morbi purus ante, hendrerit ut volutpat vel, vehicula at diam. Pellentesque ultrices sem at aliquam sollicitudin. Praesent finibus lorem quis porttitor vulputate. Suspendisse vitae nulla cursus, ultricies elit quis, gravida arcu. Proin sed purus mauris. Morbi fermentum turpis ac dolor dignissim, quis dignissim nisl dapibus. Aliquam erat volutpat. Morbi vitae est vitae justo venenatis varius et vitae purus. Nullam ultricies ultricies odio, in posuere enim condimentum sit amet. Sed fermentum a ante vel fermentum.</p>"
        },
        {
          titre: `Lorem ipsum dolor sit amet, elit.`,
          id: 3,
          imgName: `/img/city.jpg`,
          date: '2020-02-01',
          auteur: "Kelly-Anne Smither",
          text:
            "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur justo est, accumsan ac mi scelerisque, finibus dapibus diam. Nulla facilisi. Suspendisse suscipit mi nec mi maximus vehicula a vel neque. Vivamus quis augue sollicitudin, ornare neque non, tristique libero. Maecenas sollicitudin malesuada lectus eu euismod. Pellentesque et neque sed est venenatis mattis eleifend eu nibh. Quisque ac sapien at ligula vestibulum porttitor. Nullam sed fringilla turpis. Proin vitae justo venenatis, gravida justo quis, vulputate justo.</p>" +
            "<p>Integer sed ex gravida, egestas risus in, accumsan ante. Nunc rhoncus purus at libero fermentum interdum. Vestibulum pharetra, diam sed fermentum accumsan, nisl velit interdum dui, a tempor lorem justo id est. Maecenas molestie eros nisi, eu bibendum nulla varius eu. Pellentesque eu est pulvinar, placerat felis non, feugiat magna. Mauris at convallis neque. Sed ac fringilla lacus. Vivamus eget malesuada ante, et iaculis enim. Donec vel sem nisi. Morbi sed luctus massa, quis facilisis dui. Nunc ante arcu, eleifend tempor tortor nec, egestas mattis orci.</p>" +
            "<p>Suspendisse sit amet turpis facilisis, placerat ipsum sed, posuere dui. Etiam porta blandit eros, et iaculis diam. Ut mattis felis at risus convallis, non imperdiet massa tempus. Etiam pulvinar sapien eu turpis sollicitudin, quis mattis massa varius. Donec luctus urna ac lorem bibendum, convallis interdum ante imperdiet. Donec vitae iaculis ligula. Duis lacinia purus quis justo malesuada rhoncus. Nullam congue nunc sed accumsan rutrum. Fusce dictum ex at magna fringilla, quis condimentum nibh hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>" +
            "<p>Etiam vulputate est a est facilisis, nec interdum mi tincidunt. In dignissim lectus eu nisi placerat porttitor. In viverra ac urna quis rutrum. Sed id vehicula lorem. Aenean sed lacus efficitur, tempor velit eu, sodales arcu. Integer sagittis nisl non vulputate lobortis. Maecenas at dui ac velit facilisis pharetra. Vestibulum pharetra vulputate quam, nec facilisis nulla venenatis in. Sed sit amet nibh faucibus, tempor erat in, suscipit lectus. Donec nec aliquam lacus, ut egestas dolor. Integer dui sapien, pellentesque vitae nibh ut, sollicitudin pellentesque ex.</p>" +
            "<p>Nam consectetur, diam ut gravida rutrum, turpis metus pellentesque dui, eu fringilla urna nisi nec ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus at purus lobortis, sollicitudin arcu eu, rutrum tellus. Nulla pharetra varius sem nec varius. Sed et eros id mi aliquet interdum. Nulla fringilla ligula quis magna pharetra vehicula. Morbi purus ante, hendrerit ut volutpat vel, vehicula at diam. Pellentesque ultrices sem at aliquam sollicitudin. Praesent finibus lorem quis porttitor vulputate. Suspendisse vitae nulla cursus, ultricies elit quis, gravida arcu. Proin sed purus mauris. Morbi fermentum turpis ac dolor dignissim, quis dignissim nisl dapibus. Aliquam erat volutpat. Morbi vitae est vitae justo venenatis varius et vitae purus. Nullam ultricies ultricies odio, in posuere enim condimentum sit amet. Sed fermentum a ante vel fermentum.</p>"
        },
        {
          titre: `Lorem ipsum dolor sit amet, elit.`,
          id: 4,
          imgName: `/img/lake.jpg`,
          date: '2020-01-20',
          auteur: "Roger Smyther",
          text:
            "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur justo est, accumsan ac mi scelerisque, finibus dapibus diam. Nulla facilisi. Suspendisse suscipit mi nec mi maximus vehicula a vel neque. Vivamus quis augue sollicitudin, ornare neque non, tristique libero. Maecenas sollicitudin malesuada lectus eu euismod. Pellentesque et neque sed est venenatis mattis eleifend eu nibh. Quisque ac sapien at ligula vestibulum porttitor. Nullam sed fringilla turpis. Proin vitae justo venenatis, gravida justo quis, vulputate justo.</p>" +
            "<p>Integer sed ex gravida, egestas risus in, accumsan ante. Nunc rhoncus purus at libero fermentum interdum. Vestibulum pharetra, diam sed fermentum accumsan, nisl velit interdum dui, a tempor lorem justo id est. Maecenas molestie eros nisi, eu bibendum nulla varius eu. Pellentesque eu est pulvinar, placerat felis non, feugiat magna. Mauris at convallis neque. Sed ac fringilla lacus. Vivamus eget malesuada ante, et iaculis enim. Donec vel sem nisi. Morbi sed luctus massa, quis facilisis dui. Nunc ante arcu, eleifend tempor tortor nec, egestas mattis orci.</p>" +
            "<p>Suspendisse sit amet turpis facilisis, placerat ipsum sed, posuere dui. Etiam porta blandit eros, et iaculis diam. Ut mattis felis at risus convallis, non imperdiet massa tempus. Etiam pulvinar sapien eu turpis sollicitudin, quis mattis massa varius. Donec luctus urna ac lorem bibendum, convallis interdum ante imperdiet. Donec vitae iaculis ligula. Duis lacinia purus quis justo malesuada rhoncus. Nullam congue nunc sed accumsan rutrum. Fusce dictum ex at magna fringilla, quis condimentum nibh hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>" +
            "<p>Etiam vulputate est a est facilisis, nec interdum mi tincidunt. In dignissim lectus eu nisi placerat porttitor. In viverra ac urna quis rutrum. Sed id vehicula lorem. Aenean sed lacus efficitur, tempor velit eu, sodales arcu. Integer sagittis nisl non vulputate lobortis. Maecenas at dui ac velit facilisis pharetra. Vestibulum pharetra vulputate quam, nec facilisis nulla venenatis in. Sed sit amet nibh faucibus, tempor erat in, suscipit lectus. Donec nec aliquam lacus, ut egestas dolor. Integer dui sapien, pellentesque vitae nibh ut, sollicitudin pellentesque ex.</p>" +
            "<p>Nam consectetur, diam ut gravida rutrum, turpis metus pellentesque dui, eu fringilla urna nisi nec ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus at purus lobortis, sollicitudin arcu eu, rutrum tellus. Nulla pharetra varius sem nec varius. Sed et eros id mi aliquet interdum. Nulla fringilla ligula quis magna pharetra vehicula. Morbi purus ante, hendrerit ut volutpat vel, vehicula at diam. Pellentesque ultrices sem at aliquam sollicitudin. Praesent finibus lorem quis porttitor vulputate. Suspendisse vitae nulla cursus, ultricies elit quis, gravida arcu. Proin sed purus mauris. Morbi fermentum turpis ac dolor dignissim, quis dignissim nisl dapibus. Aliquam erat volutpat. Morbi vitae est vitae justo venenatis varius et vitae purus. Nullam ultricies ultricies odio, in posuere enim condimentum sit amet. Sed fermentum a ante vel fermentum.</p>"
        },
        {
          titre: `Lorem ipsum dolor sit amet, elit.`,
          id: 5,
          imgName: `/img/love.jpg`,
          date: '2020-01-20',
          auteur: "Ariane Smoother",
          text:
            "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur justo est, accumsan ac mi scelerisque, finibus dapibus diam. Nulla facilisi. Suspendisse suscipit mi nec mi maximus vehicula a vel neque. Vivamus quis augue sollicitudin, ornare neque non, tristique libero. Maecenas sollicitudin malesuada lectus eu euismod. Pellentesque et neque sed est venenatis mattis eleifend eu nibh. Quisque ac sapien at ligula vestibulum porttitor. Nullam sed fringilla turpis. Proin vitae justo venenatis, gravida justo quis, vulputate justo.</p>" +
            "<p>Integer sed ex gravida, egestas risus in, accumsan ante. Nunc rhoncus purus at libero fermentum interdum. Vestibulum pharetra, diam sed fermentum accumsan, nisl velit interdum dui, a tempor lorem justo id est. Maecenas molestie eros nisi, eu bibendum nulla varius eu. Pellentesque eu est pulvinar, placerat felis non, feugiat magna. Mauris at convallis neque. Sed ac fringilla lacus. Vivamus eget malesuada ante, et iaculis enim. Donec vel sem nisi. Morbi sed luctus massa, quis facilisis dui. Nunc ante arcu, eleifend tempor tortor nec, egestas mattis orci.</p>" +
            "<p>Suspendisse sit amet turpis facilisis, placerat ipsum sed, posuere dui. Etiam porta blandit eros, et iaculis diam. Ut mattis felis at risus convallis, non imperdiet massa tempus. Etiam pulvinar sapien eu turpis sollicitudin, quis mattis massa varius. Donec luctus urna ac lorem bibendum, convallis interdum ante imperdiet. Donec vitae iaculis ligula. Duis lacinia purus quis justo malesuada rhoncus. Nullam congue nunc sed accumsan rutrum. Fusce dictum ex at magna fringilla, quis condimentum nibh hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>" +
            "<p>Etiam vulputate est a est facilisis, nec interdum mi tincidunt. In dignissim lectus eu nisi placerat porttitor. In viverra ac urna quis rutrum. Sed id vehicula lorem. Aenean sed lacus efficitur, tempor velit eu, sodales arcu. Integer sagittis nisl non vulputate lobortis. Maecenas at dui ac velit facilisis pharetra. Vestibulum pharetra vulputate quam, nec facilisis nulla venenatis in. Sed sit amet nibh faucibus, tempor erat in, suscipit lectus. Donec nec aliquam lacus, ut egestas dolor. Integer dui sapien, pellentesque vitae nibh ut, sollicitudin pellentesque ex.</p>" +
            "<p>Nam consectetur, diam ut gravida rutrum, turpis metus pellentesque dui, eu fringilla urna nisi nec ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus at purus lobortis, sollicitudin arcu eu, rutrum tellus. Nulla pharetra varius sem nec varius. Sed et eros id mi aliquet interdum. Nulla fringilla ligula quis magna pharetra vehicula. Morbi purus ante, hendrerit ut volutpat vel, vehicula at diam. Pellentesque ultrices sem at aliquam sollicitudin. Praesent finibus lorem quis porttitor vulputate. Suspendisse vitae nulla cursus, ultricies elit quis, gravida arcu. Proin sed purus mauris. Morbi fermentum turpis ac dolor dignissim, quis dignissim nisl dapibus. Aliquam erat volutpat. Morbi vitae est vitae justo venenatis varius et vitae purus. Nullam ultricies ultricies odio, in posuere enim condimentum sit amet. Sed fermentum a ante vel fermentum.</p>"
        },
        {
          titre: `Lorem ipsum dolor sit amet, elit.`,
          id: 6,
          imgName: `/img/montains.jpg`,
          date: '2020-01-20',
          auteur: "Bill Smat",
          text:
            "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur justo est, accumsan ac mi scelerisque, finibus dapibus diam. Nulla facilisi. Suspendisse suscipit mi nec mi maximus vehicula a vel neque. Vivamus quis augue sollicitudin, ornare neque non, tristique libero. Maecenas sollicitudin malesuada lectus eu euismod. Pellentesque et neque sed est venenatis mattis eleifend eu nibh. Quisque ac sapien at ligula vestibulum porttitor. Nullam sed fringilla turpis. Proin vitae justo venenatis, gravida justo quis, vulputate justo.</p>" +
            "<p>Integer sed ex gravida, egestas risus in, accumsan ante. Nunc rhoncus purus at libero fermentum interdum. Vestibulum pharetra, diam sed fermentum accumsan, nisl velit interdum dui, a tempor lorem justo id est. Maecenas molestie eros nisi, eu bibendum nulla varius eu. Pellentesque eu est pulvinar, placerat felis non, feugiat magna. Mauris at convallis neque. Sed ac fringilla lacus. Vivamus eget malesuada ante, et iaculis enim. Donec vel sem nisi. Morbi sed luctus massa, quis facilisis dui. Nunc ante arcu, eleifend tempor tortor nec, egestas mattis orci.</p>" +
            "<p>Suspendisse sit amet turpis facilisis, placerat ipsum sed, posuere dui. Etiam porta blandit eros, et iaculis diam. Ut mattis felis at risus convallis, non imperdiet massa tempus. Etiam pulvinar sapien eu turpis sollicitudin, quis mattis massa varius. Donec luctus urna ac lorem bibendum, convallis interdum ante imperdiet. Donec vitae iaculis ligula. Duis lacinia purus quis justo malesuada rhoncus. Nullam congue nunc sed accumsan rutrum. Fusce dictum ex at magna fringilla, quis condimentum nibh hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>" +
            "<p>Etiam vulputate est a est facilisis, nec interdum mi tincidunt. In dignissim lectus eu nisi placerat porttitor. In viverra ac urna quis rutrum. Sed id vehicula lorem. Aenean sed lacus efficitur, tempor velit eu, sodales arcu. Integer sagittis nisl non vulputate lobortis. Maecenas at dui ac velit facilisis pharetra. Vestibulum pharetra vulputate quam, nec facilisis nulla venenatis in. Sed sit amet nibh faucibus, tempor erat in, suscipit lectus. Donec nec aliquam lacus, ut egestas dolor. Integer dui sapien, pellentesque vitae nibh ut, sollicitudin pellentesque ex.</p>" +
            "<p>Nam consectetur, diam ut gravida rutrum, turpis metus pellentesque dui, eu fringilla urna nisi nec ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus at purus lobortis, sollicitudin arcu eu, rutrum tellus. Nulla pharetra varius sem nec varius. Sed et eros id mi aliquet interdum. Nulla fringilla ligula quis magna pharetra vehicula. Morbi purus ante, hendrerit ut volutpat vel, vehicula at diam. Pellentesque ultrices sem at aliquam sollicitudin. Praesent finibus lorem quis porttitor vulputate. Suspendisse vitae nulla cursus, ultricies elit quis, gravida arcu. Proin sed purus mauris. Morbi fermentum turpis ac dolor dignissim, quis dignissim nisl dapibus. Aliquam erat volutpat. Morbi vitae est vitae justo venenatis varius et vitae purus. Nullam ultricies ultricies odio, in posuere enim condimentum sit amet. Sed fermentum a ante vel fermentum.</p>"
        },
        {
          titre: `Lorem ipsum dolor sit amet, elit.`,
          id: 7,
          imgName: `/img/people.jpg`,
          date: '2020-01-20',
          auteur: "Simon Smither",
          text:
            "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur justo est, accumsan ac mi scelerisque, finibus dapibus diam. Nulla facilisi. Suspendisse suscipit mi nec mi maximus vehicula a vel neque. Vivamus quis augue sollicitudin, ornare neque non, tristique libero. Maecenas sollicitudin malesuada lectus eu euismod. Pellentesque et neque sed est venenatis mattis eleifend eu nibh. Quisque ac sapien at ligula vestibulum porttitor. Nullam sed fringilla turpis. Proin vitae justo venenatis, gravida justo quis, vulputate justo.</p>" +
            "<p>Integer sed ex gravida, egestas risus in, accumsan ante. Nunc rhoncus purus at libero fermentum interdum. Vestibulum pharetra, diam sed fermentum accumsan, nisl velit interdum dui, a tempor lorem justo id est. Maecenas molestie eros nisi, eu bibendum nulla varius eu. Pellentesque eu est pulvinar, placerat felis non, feugiat magna. Mauris at convallis neque. Sed ac fringilla lacus. Vivamus eget malesuada ante, et iaculis enim. Donec vel sem nisi. Morbi sed luctus massa, quis facilisis dui. Nunc ante arcu, eleifend tempor tortor nec, egestas mattis orci.</p>" +
            "<p>Suspendisse sit amet turpis facilisis, placerat ipsum sed, posuere dui. Etiam porta blandit eros, et iaculis diam. Ut mattis felis at risus convallis, non imperdiet massa tempus. Etiam pulvinar sapien eu turpis sollicitudin, quis mattis massa varius. Donec luctus urna ac lorem bibendum, convallis interdum ante imperdiet. Donec vitae iaculis ligula. Duis lacinia purus quis justo malesuada rhoncus. Nullam congue nunc sed accumsan rutrum. Fusce dictum ex at magna fringilla, quis condimentum nibh hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>" +
            "<p>Etiam vulputate est a est facilisis, nec interdum mi tincidunt. In dignissim lectus eu nisi placerat porttitor. In viverra ac urna quis rutrum. Sed id vehicula lorem. Aenean sed lacus efficitur, tempor velit eu, sodales arcu. Integer sagittis nisl non vulputate lobortis. Maecenas at dui ac velit facilisis pharetra. Vestibulum pharetra vulputate quam, nec facilisis nulla venenatis in. Sed sit amet nibh faucibus, tempor erat in, suscipit lectus. Donec nec aliquam lacus, ut egestas dolor. Integer dui sapien, pellentesque vitae nibh ut, sollicitudin pellentesque ex.</p>" +
            "<p>Nam consectetur, diam ut gravida rutrum, turpis metus pellentesque dui, eu fringilla urna nisi nec ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus at purus lobortis, sollicitudin arcu eu, rutrum tellus. Nulla pharetra varius sem nec varius. Sed et eros id mi aliquet interdum. Nulla fringilla ligula quis magna pharetra vehicula. Morbi purus ante, hendrerit ut volutpat vel, vehicula at diam. Pellentesque ultrices sem at aliquam sollicitudin. Praesent finibus lorem quis porttitor vulputate. Suspendisse vitae nulla cursus, ultricies elit quis, gravida arcu. Proin sed purus mauris. Morbi fermentum turpis ac dolor dignissim, quis dignissim nisl dapibus. Aliquam erat volutpat. Morbi vitae est vitae justo venenatis varius et vitae purus. Nullam ultricies ultricies odio, in posuere enim condimentum sit amet. Sed fermentum a ante vel fermentum.</p>"
        },
        {
          titre: `Lorem ipsum dolor sit amet, elit.`,
          id: 8,
          imgName: `/img/workwatch.jpg`,
          date: '2020-01-20',
          auteur: "Pouding Smit",
          text:
            "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur justo est, accumsan ac mi scelerisque, finibus dapibus diam. Nulla facilisi. Suspendisse suscipit mi nec mi maximus vehicula a vel neque. Vivamus quis augue sollicitudin, ornare neque non, tristique libero. Maecenas sollicitudin malesuada lectus eu euismod. Pellentesque et neque sed est venenatis mattis eleifend eu nibh. Quisque ac sapien at ligula vestibulum porttitor. Nullam sed fringilla turpis. Proin vitae justo venenatis, gravida justo quis, vulputate justo.</p>" +
            "<p>Integer sed ex gravida, egestas risus in, accumsan ante. Nunc rhoncus purus at libero fermentum interdum. Vestibulum pharetra, diam sed fermentum accumsan, nisl velit interdum dui, a tempor lorem justo id est. Maecenas molestie eros nisi, eu bibendum nulla varius eu. Pellentesque eu est pulvinar, placerat felis non, feugiat magna. Mauris at convallis neque. Sed ac fringilla lacus. Vivamus eget malesuada ante, et iaculis enim. Donec vel sem nisi. Morbi sed luctus massa, quis facilisis dui. Nunc ante arcu, eleifend tempor tortor nec, egestas mattis orci.</p>" +
            "<p>Suspendisse sit amet turpis facilisis, placerat ipsum sed, posuere dui. Etiam porta blandit eros, et iaculis diam. Ut mattis felis at risus convallis, non imperdiet massa tempus. Etiam pulvinar sapien eu turpis sollicitudin, quis mattis massa varius. Donec luctus urna ac lorem bibendum, convallis interdum ante imperdiet. Donec vitae iaculis ligula. Duis lacinia purus quis justo malesuada rhoncus. Nullam congue nunc sed accumsan rutrum. Fusce dictum ex at magna fringilla, quis condimentum nibh hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>" +
            "<p>Etiam vulputate est a est facilisis, nec interdum mi tincidunt. In dignissim lectus eu nisi placerat porttitor. In viverra ac urna quis rutrum. Sed id vehicula lorem. Aenean sed lacus efficitur, tempor velit eu, sodales arcu. Integer sagittis nisl non vulputate lobortis. Maecenas at dui ac velit facilisis pharetra. Vestibulum pharetra vulputate quam, nec facilisis nulla venenatis in. Sed sit amet nibh faucibus, tempor erat in, suscipit lectus. Donec nec aliquam lacus, ut egestas dolor. Integer dui sapien, pellentesque vitae nibh ut, sollicitudin pellentesque ex.</p>" +
            "<p>Nam consectetur, diam ut gravida rutrum, turpis metus pellentesque dui, eu fringilla urna nisi nec ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus at purus lobortis, sollicitudin arcu eu, rutrum tellus. Nulla pharetra varius sem nec varius. Sed et eros id mi aliquet interdum. Nulla fringilla ligula quis magna pharetra vehicula. Morbi purus ante, hendrerit ut volutpat vel, vehicula at diam. Pellentesque ultrices sem at aliquam sollicitudin. Praesent finibus lorem quis porttitor vulputate. Suspendisse vitae nulla cursus, ultricies elit quis, gravida arcu. Proin sed purus mauris. Morbi fermentum turpis ac dolor dignissim, quis dignissim nisl dapibus. Aliquam erat volutpat. Morbi vitae est vitae justo venenatis varius et vitae purus. Nullam ultricies ultricies odio, in posuere enim condimentum sit amet. Sed fermentum a ante vel fermentum.</p>"
        }
      ]
    };
  }
};
</script>

<style scoped>
</style>
