<template>
  <div class="endFooter">
    <div class="inc">BerryNews 2020 inc.</div>
    <a href>
      <div class="carteSite">Carte du site</div>
    </a>
  </div>
</template>

<script>
export default {
  name: "EndFooter"
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.endFooter {
  background-color: #353534;
  color: #ddd;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 0.8em;
}
.endFooter a {
  color: #ddd;
}
</style>

