<template>
  <div class="footerMenuBox">
    <nav class="footerMenu">
      <div class="footerMenuItem meConnaitre">
        <h2>Me connaitre</h2>
        <ul>
          <router-link to="/github">
            <li>CV</li>
          </router-link>
          <router-link to="/gitlab">
            <li>Portfolio</li>
          </router-link>
        </ul>
      </div>

      <div class="footerMenuItem nousContacter">
        <h2>Nous contacter</h2>
        <ul>
          <router-link to>
            <li>Email</li>
          </router-link>
          <router-link to>
            <li>Flux RSS</li>
          </router-link>
          <router-link to>
            <li>Newsletter</li>
          </router-link>
        </ul>
      </div>

      <div class="footerMenuItem assistance">
        <h2>Assistance</h2>
        <ul>
          <router-link to>
            <li>Mention Legal</li>
          </router-link>
          <router-link to>
            <li>Support</li>
          </router-link>
          <router-link to>
            <li>Charte de confidentialité</li>
          </router-link>
        </ul>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: "FooterMenu"
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.footerMenuBox {
  background-color: #3c3c3b;
  color: #ddd;
  display: flex;
  justify-content: center;
}

.footerMenu {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footerMenuItem {
  margin: 0 20px;
  min-width: 240px;
}

.footerMenuItem h2 {
  border-bottom: white 1px solid;
}

.footerMenuItem ul {
  list-style-type: none;
  padding: 0;
}

.footerMenuItem ul a li {
  padding: 0 0 10px 0;
}
a {
  color: #ddd;
}
</style>

