<template>
  <footer class="footer">
    <FooterMenu />
    <EndFooter />
  </footer>
</template>

<script>
import FooterMenu from "@/components/footer/FooterMenu.vue";
import EndFooter from "@/components/footer/EndFooter.vue";

export default {
  name: "Footer",
  components: {
    FooterMenu,
    EndFooter
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
