<template>
  <div class="Home">
    <section class="grid">
      <Thumbnail
        v-for="(item,index) in sortedArticles"
        v-bind:key="index"
        :titre="item.titre"
        :idThumbnail="item.id"
        :backgroundPath="item.imgName"
      />
    </section>
  </div>
</template>

<script>
import Thumbnail from "@/components/commons/thumbnail/Thumbnail.vue";

export default {
  name: "Home",
  components: {
    Thumbnail
  },

  data() {
    return {
      articles: [
        {
          titre: `Lorem ipsum dolor sit amet, elit.`,
          id: 1,
          imgName: `/img/baie.jpg`,
          date: "2019-02-20"
        },
        {
          titre: `Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...`,
          id: 2,
          imgName: `/img/bread_brunch.jpg`,
          date: "2019-01-18"
        },
        {
          titre: `Lorem ipsum dolor sit amet, elit.`,
          id: 3,
          imgName: `/img/city.jpg`,
          date: "2020-02-01"
        },
        {
          titre: `Lorem ipsum dolor sit amet, elit.`,
          id: 4,
          imgName: `/img/lake.jpg`,
          date: "2020-01-20"
        },
        {
          titre: `Lorem ipsum dolor sit amet, elit.`,
          id: 5,
          imgName: `/img/love.jpg`,
          date: "2020-01-20"
        },
        {
          titre: `Lorem ipsum dolor sit amet, elit.`,
          id: 6,
          imgName: `/img/montains.jpg`,
          date: "2020-01-20"
        },
        {
          titre: `Lorem ipsum dolor sit amet, elit.`,
          id: 7,
          imgName: `/img/people.jpg`,
          date: "2020-01-20"
        },
        {
          titre: `Lorem ipsum dolor sit amet, elit.`,
          id: 8,
          imgName: `/img/workwatch.jpg`,
          date: "2020-01-20"
        }
      ]
    };
  },
  computed: {
    sortedArticles: function() {
      function compare(a, b) {
        if (Date.parse(a.date) > Date.parse(b.date)) return -1;
        if (Date.parse(a.date) < Date.parse(b.date)) return 1;
        return 0;
      }
      return this.articles.slice().sort(compare);
    }
  }
};
</script>

<style scoped>
p {
  margin: 0;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
</style>
