<template>
  <div class="main">
    <div class="container">
      <router-view />
    </div>
  </div>
</template>

<script>
export default {
  name: "Main",
  components: {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.main {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
}

.main .container {
  background-color: white;
  width: 1280px;
  padding-top: 20px;
}
</style>



