<template>
  <div class="menu">
    <div class="containerMenu">
      <router-link class="logoBox" :to="{name:'home'}">
        <img class="berryLogo" src="@/assets/berry_logo.png" alt="Berry logo" />
        <p class="berryLogoText">BerryNews</p>
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: "Menu"
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.menu {
  background-color: #3c3c3b;
  color: #ddd;
  height: 50px;
  display: flex;
  justify-content: center;
}

.containerMenu {
  width: 1280px;
  height: 100%;
}

.logoBox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 150px;
  background-color: #ddd;
  font-family: Impact;
  font-size: 1.1em;
}

.berryLogo {
  height: 85%;
}

a {
  text-decoration: none;
  color: rgb(118, 58, 141);
}

a:visited {
  color: rgb(118, 58, 141);
}
</style>
