<template>
  <router-link class="thumbnail" :to="{name:'article', params: {id: idThumbnail}}">
    <div class="thumbnailBox">
      <div class="tbImage" :style="{ backgroundImage: `url(` + backgroundPath + `)` }"></div>
      <div class="tbTextBox">
        <span class="tbTitre">{{ titre }}</span>
      </div>
    </div>
  </router-link>
</template>

<script>
export default {
  name: "Thumbnail",
  props: {
    titre: String,
    idThumbnail: Number,
    backgroundPath: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.thumbnail {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 300px;
  width: 80%;
  margin-bottom: 20px;
}

.thumbnail:focus,
.thumbnail:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  text-decoration: underline;
}

.thumbnailBox {
  height: 100%;
  width: 100%;
}

.tbImage {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.tbTextBox {
  height: 50px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1.3em;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.tbTitre {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 1280px) {
  .thumbnail {
    flex: 0 0 26%;
    max-width: 26%;
    position: relative;
    width: 100%;
    margin: 10px 20px;
  }
}
</style>
